
**.DS_Store
achievement1/.DS_Store
achievement1/exercise1.2/.DS_Store
achievement1/exercise1.3/.DS_Store
achievement1/exercise1.4/.DS_Store
achievement1/exercise1.5/.DS_Store
achievement1/exercise1.6/.DS_Store
achievement1/exercise1.6/practice1/.DS_Store
achievement1/exercise1.6/task1.6/.DS_Store
achievement1/exercise1.7/.DS_Store
.DS_Store
