{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'styles.css' %}?{% now 'U' %}">
  <script src="{% static 'sales/home.js' %}" defer></script>
</head>

<!DOCTYPE html>
<html lang="en">
  <title>Bookstore Home</title>
  <body>
    <h1>Welcome to our Bookstore</h1>
    <br>
    <br>
    <div style="text-align: right;">
      <a href="{% url 'login' %}">Login</a>
    </div>
    <br>
    <br>
    <br>
    <img src="{% static 'sales/images/bookstore.jpeg' %}" alt="home" width="600" height="300">
  </body>
</html>